@import '_var.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Navbar
#main-navbar {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.19);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 199;
    
    
    .container {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 10px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap-reverse;

        .content-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            row-gap: 10px;
            align-items: center;
            justify-content: space-between;
            position: relative;
            flex-grow: 4;
            flex-wrap: wrap;

            .logo-wrapper {
                display: flex;
                flex-direction: row;
                column-gap: 12px;
                align-items: center;
                justify-content: center;
                
                &:hover {
                    cursor: pointer;
                }
    
                .logo-container {
                    width: 70px;
                    height: 70px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .logo-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    
                    .logo-subtitle {
                        color: black;
                    }

                    .logo-title {
                        letter-spacing: 3px;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
    
                // .logo-title {
                //     letter-spacing: 3px;
                //     font-size: 1.1rem;
    
                //     .title-bold {
                //         font-weight: 600;
                //     }
                // }
            }
    
            .menu-wrapper {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                flex-grow: 1;
                margin: 0;
                align-items: center;
                justify-content: flex-end;
    
                li {

                    &.button-li {
                        margin-left: 20px;

                        button {
                            padding: 10px 20px;

                            &.logout {
                                @include button-default-ic($bg: $OceanGreen, $color: black, $bg_hover: $PrimaryRed, $color_hover: white);
                            }
                        }
                    }
                    
    
                    a {
                        color: black;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        text-decoration: none;
                        transition: 0.3s;
    
                        &:hover {
                            cursor: pointer;
                            color: $PrimaryBlue;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .description-box-shadow{
            background-color: red;
            flex-grow: 1;
            flex-basis: 300px;
            // height: 20px;
            position: relative;
            
            .description-box {
                min-width: 200px;
                max-width: 600px;
                min-height: 220px;
                background-color: $PrimaryBlue75;
                position: absolute;
                right: 0;
                // left: 640px;
                z-index: 1;
                transform: translateY(50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;

                p {
                    width: 100%;
                    height: fit-content;
                    margin: 0;
                }
            }
        }        
    }

}

// Login Side Navigation
#login-sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 109;

    display: none;
    flex-direction: row;
    justify-content: flex-end;
    transition: all linear 0.1s;
    backdrop-filter: blur(0);
    background-color: rgba(0,0,0, 0);
    
    * {
        opacity: 0;
    }
    
    &.show {
        backdrop-filter: blur(2px);
        background-color: rgba(0,0,0, 0.5);    

        .overlay {
            max-width: 100vw;
        }
        
        .background {
            max-width: 100%;
        }

        * {
            opacity: 1;
        }
    }

    .overlay {
        height: 100%;
        flex-grow: 1;
        width: 500px;
        max-width: 0vw;
        flex-shrink: 1;
        cursor: pointer;
    }

    .background {
        padding: 20px;
        height: 100%;
        // overflow: hidden;
        background-color: white;
        max-width: 0%;
        width: fit-content;
        transition: 0.1s linear 0.3s;
        width: 450px;
        
        .body {
            width: 100%;
            // margin: 0 20px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-shrink: 1;
    
    
            .login-head-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                column-gap: 20px;
                row-gap: 10px;
                flex-wrap: wrap-reverse;
    
                .logo-wrapper {
                    display: flex;
                    flex-direction: row;
                    column-gap: 12px;
                    align-items: center;
                    justify-content: flex-start;
                    flex-grow: 1;
                    
                    &:hover {
                        cursor: pointer;
                    }
        
                    .logo-container {
                        width: 40px;
                        height: 40px;
        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
        
                    .logo-title {
                        letter-spacing: 3px;
                        font-size: 1.1rem;
        
                        .title-bold {
                            font-weight: 600;
                        }
                    }
                }
    
                
            }

            .login-form-wrapper {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .form-title {
                    font-size: 1rem;
                    letter-spacing: 2px;
                }

                .error {
                    color: $PrimaryRed;
                }
                
                .login-form {

                    .form-floating {
                        width: 100%;
                    }

                    .error-wrapper {

                        .error {
                            margin-bottom: 5px;
                        }
                    }

                    .button-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        column-gap: 10px;
                        row-gap: 25px;
                        
                        button.login-button {
                            // flex-grow: 1;
                        }

                        .register-wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            column-gap: 10px;
                            flex-wrap: wrap;
                            flex-grow: 1;
                            
                            
                            span {
                                font-size: 1rem;
                                flex-shrink: 1;
                                white-space: break-spaces;


                                a {
                                    text-decoration: none;
                                    font-weight: 600;
                                    font-size: 1rem;

                                    &:hover {
                                        cursor: pointer;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                }
            }
    
        }
    }

}



// Session Message
#session-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 8px;
    box-shadow: $BoxShadow;
    max-width: 220px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
    opacity: 0;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &.success {
        .content i.success {
            display: block;
        }
    }
    &.danger {
        .content i.danger {
            display: block;
        }
    }
    &.info {
        .content i.info {
            display: block;
        }
    }

    .close-button {
        display: grid;
        place-items: center;
        padding: 10px;
        
        &:hover {
            cursor: pointer;
            background-color: $BorderLight;
        }

    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        i {
            font-size: 1.5rem;
            display: none;

            &.success {
                color: $PrimaryGreen;
            }
            &.danger {
                color: $PrimaryRed;
            }
            &.info {
                color: $PrimaryBlue;
            }
        }

        .message {
            flex-grow: 1;
            font-weight: 600;
        }
    }
}


// Button Default
.button-default {
    @include button-default-ic($bg: $OceanBlue, $color: black, $bg_hover: $PrimaryGreen, $color_hover: $PrimaryBlue);
    // background-color: $PrimaryBlue;
    // color: white;
    outline: none;
    border: none;
    padding: 5px 20px;
    transition: all ease-in-out 0.2s;
}